* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: url("passazhirskii-samoliot-avialainer-vysota-poliot-nebo-oblaka.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .header__title {
  color: white;
  background-color: rgba(0, 0, 0, 0.486);
  padding: 0 2px;
  margin-bottom: 60vh;
}

header .header__menu {
  margin-top: 10vh;
}

header .header__menu .header__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

header .header__menu .header__list .header__item {
  margin-left: 10px;
}

header .header__menu .header__list a {
  color: #99e2ff;
  background-color: rgba(0, 0, 0, 0.486);
  -webkit-transition: .8s;
  transition: .8s;
  padding: 0 4px;
}

header .header__menu .header__list a:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #ffc4ff;
}

footer {
  padding: 50px;
  list-style-type: none;
  background-color: #444444;
  color: white;
}

footer .footer__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

footer .footer__list .footer__link {
  list-style-type: none;
  border-left: 5px solid white;
  border-right: 5px solid white;
  margin: 2px 10px;
  border-radius: 3px;
}

footer .footer__list .footer__link a {
  color: #99e2ff;
  background-color: rgba(0, 0, 0, 0.486);
  -webkit-transition: .8s;
  transition: .8s;
  padding: 0 4px;
  background-color: transparent;
  text-decoration: none;
}

footer .footer__list .footer__link a:hover {
  -webkit-transition: .4s;
  transition: .4s;
  color: #ffc4ff;
}

.planes__card {
  border-top: 2px solid gray;
  padding: 2vh 9vh;
  background-color: #e6f8ff;
}

.planes__card .planes__paragraph {
  font-size: 21px;
  margin-top: 10px;
}

.planes__card .planes__image {
  width: 330px;
  margin-top: 10px;
  border-radius: 4px;
}

section {
  padding: 1vh 3vh;
  background-color: #e6f8ff;
}

.news__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
  grid-template-columns: 2fr 2fr;
  grid-gap: 4.4vh 1.8vh;
}

.news__card {
  background-color: #ffffe6;
  padding: 30px;
  width: 90%;
}

.news__card .news__image {
  width: 400px;
}

.news__card .news__title {
  font-size: 32px;
}

.news__card .news__description {
  font-size: 25px;
}

.news__card .news__date {
  color: #a7a7a7;
  font-size: 16px;
}

.aboutUs {
  background-color: #e6f8ff;
}

.aboutUs .aboutUs__description {
  padding: 40px;
  font-size: 32px;
}

.aboutUs .aboutUs__image {
  float: left;
  margin: 0 40px 10px 0;
  border-radius: 4px;
}

table {
  width: 100%;
}

input {
  font-size: 24px;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 5px 0;
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #effaff;
}

input:hover {
  -webkit-box-shadow: 0 0 15px rgba(75, 75, 75, 0.486);
  box-shadow: 0 0 15px rgba(75, 75, 75, 0.486);
}

select {
  font-size: 24px;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 5px 0;
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #effaff;
}

select:hover {
  -webkit-box-shadow: 0 0 15px rgba(75, 75, 75, 0.486);
  box-shadow: 0 0 15px rgba(75, 75, 75, 0.486);
}

input[type=text] {
  width: 60%;
}

input[type=number] {
  width: 60%;
}

input[type=submit] {
  font-size: 24px;
  font-weight: 400;
  padding: 5px 15px;
  border: 2px solid lightgray;
  border-radius: 40px;
  background-color: white;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

input[type=submit]:hover {
  -webkit-box-shadow: 0 0 15px #a1a1a1;
  box-shadow: 0 0 15px #a1a1a1;
  color: #5cecff;
}

button {
  font-size: 24px;
  font-weight: 400;
  padding: 5px 15px;
  border: 2px solid lightgray;
  border-radius: 40px;
  background-color: white;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

button:hover {
  -webkit-box-shadow: 0 0 15px #a1a1a1;
  box-shadow: 0 0 15px #a1a1a1;
  color: #5cecff;
}

.logout {
  font-size: 24px;
  font-weight: 400;
  padding: 5px 15px;
  border: 2px solid lightgray;
  border-radius: 40px;
  background-color: white;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 10px;
}

.logout:hover {
  -webkit-box-shadow: 0 0 15px #a1a1a1;
  box-shadow: 0 0 15px #a1a1a1;
  color: #5cecff;
}

.addNewForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

p {
  -webkit-transition: 1s;
  transition: 1s;
}

.highlight {
  color: white;
  background-color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.admin {
  padding: 0 40px;
}

.admin .admin__title {
  font-size: 40px;
}

.admin .table__title {
  font-size: 40px;
  border-left: 5px solid lightgray;
  border-right: 5px solid lightgray;
  background-color: #beedff !important;
}

.admin .table__title:nth-child(1) {
  border-top: 5px solid lightgray;
}

.admin .table {
  background-color: #fffae1;
  border: 5px solid lightgray;
}

.admin .table .table__row {
  border-top: 5px solid black !important;
  font-size: 18px !important;
}

.admin .form {
  border-top: 5px solid lightgray;
  padding-top: 10px;
  margin-top: 10px;
}

.admin .form:nth-last-child(4) {
  border-bottom: 5px solid lightgray;
}

.admin .form .form__title {
  font-size: 40px;
}

.admin .form .form__paragraph {
  font-size: 32px;
}

.admin .form .form__paragraph span {
  color: #b1b1b1;
}

.admin .form .form__containter label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.admin .form .form__containter .form__select .form__option {
  font-size: 24px !important;
}

@media (max-width: 1400px) {
  .news__section {
    grid-gap: 1vh 1vh;
  }
  .news__card {
    padding: 16px;
    margin: 0 auto;
  }
}

@media (max-width: 1150px) {
  .news__section {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
  }
  footer .footer__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  p {
    font-size: 20px !important;
  }
  header .header__title {
    font-size: 60px;
    margin-bottom: 50vh;
  }
  header .header__menu .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header .header__menu .header__list .header__item a {
    font-size: 40px;
  }
  section {
    padding: 0;
  }
  section > h2 {
    padding: 2vh;
  }
  .planes__card {
    padding: 1vh 5vh;
  }
  footer .footer__list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  footer .footer__list .footer__link a {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  header h2 {
    font-size: 50px;
    margin-bottom: 50vh;
  }
  header .header__menu .header__list .header__item a {
    font-size: 30px;
  }
  p {
    font-size: 21px !important;
  }
  .aboutUs {
    margin: 0 !important;
  }
  .aboutUs .aboutUs__title {
    font-size: 30px;
  }
  .aboutUs .aboutUs__description {
    padding: 10px;
  }
  .planes__card {
    border-top: 10px solid black;
    padding: 3vh;
  }
  .planes__card .planes__title {
    font-size: 30px;
  }
  .planes__card .planes__image {
    width: 100%;
  }
  section > h2 {
    font-size: 50px;
  }
  .news__card {
    width: 90%;
    margin-bottom: 30px;
  }
  .news__card .news__title {
    font-size: 25px !important;
  }
  .news__card p {
    font-size: 17px !important;
  }
  .news__card img {
    width: 100%;
  }
  body > h2 {
    font-size: 30px;
  }
  .news__section {
    padding: 0;
  }
}

@media (max-width: 500px) {
  header .header__title {
    font-size: 34px;
  }
  header .header__menu .header__list .header__item a {
    font-size: 25px;
  }
}

@media (max-width: 470px) {
  .news__section .news__title {
    font-size: 20px !important;
  }
  .news__section .news__image {
    width: 80%;
  }
}

@media print {
  header {
    height: 30px;
    display: block;
    background: none;
  }
  header .header__menu {
    display: none;
  }
  header .header__title {
    font-size: 30px;
    color: black;
  }
  .news__section {
    display: block;
  }
  .news__section .news__card {
    margin: 0;
    padding: 0;
    border-top: 2px solid black;
  }
  .news__section .news__card .news__image {
    width: 170px;
  }
  footer {
    display: none;
  }
  .planes__section .planes__card {
    border: 0;
    margin: 0;
    padding: 0;
  }
  .planes__section .planes__card .planes__image {
    width: 170px;
  }
}
/*# sourceMappingURL=style.css.map */